<h1>Blackjack#join</h1>
<p>Find me in app/views/blackjack/join.html.erb</p>

<table>
  <tbody>
    <tr>
      <td><h2 id="game-id" data-id=<%= "#{@game.id}" %>><%= "Game ID: #{@game.id}" %></h2></td>
    </tr>
    <tr>
      <td><%= "Player ID: #{@player.id}" %></td>
    </tr>
  </tbody>
</table>

<table id="game-data">
  <tbody>
  </tbody>
</table>
