<h1>Blackjack#join</h1>
<p>Find me in app/views/blackjack/join.html.erb</p>
<p id="notice" ></p>
<table>
  <tbody>
    <tr>
      <td><h2 id="game-id" data-id=<%= "#{@game.id}" %>><%= "Game ID: #{@game.id}" %></h2></td>
      <td><button type="button" data-action="start" class="action" >Start Game</button></td>
    </tr>
    <tr>
      <td><h2 id="player-id" data-id=<%= "#{@player.id}" %>><%= "Player #{@player.name}" %></h2></td>
    </tr>
    <tr>
      <td><button type="button" data-action="hit" class="action" >Hit</button></td>
      <td><button type="button" data-action="stay" class="action" >Stay</button></td>
      <td><button type="button" data-action="split" class="action" >Split</button></td>
    </tr>
  </tbody>
</table>

<table>
  <tbody id="game-data">
  </tbody>
</table>

<a style="visibility:hidden;" href="/" id="app-root"></a>
